:root {
    /* fonts */
    --font-sans: 'Golos Text', sans-serif;
    --font-inter: 'Inter', sans-serif;

    /* colors */
    --color-light: #FFFFFF;
    --color-dark: #000000;
    --color-pink: #E0119D;
    --color-caption: #999999;
    --color-bg: #F5F5F5;
}